main.show-product {
  text-align: center;
  .flexbox-top {
    display: flex;
    flex-wrap: wrap;
    .image-column {
      width: 40%;
      margin-right: 10%;
      .image-gallery-thumbnail {
        height: max-content;
        box-shadow: none;
        margin: 10px;
      }
      .image-gallery-image {
        height: 400px;
      }
    }
    .information-column {
      text-align: left;
      width: 45%;
      h1 {
        font-size: 30px;
        margin: 5px 0px;
      }
      .flexbox {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        // Hackigt här, kan inte fixa på annat sätt...
        .text-välj-antal {
          margin-left: -160px;
          margin-right: -120px;
        }
        .select-quantity {
          margin-right: -120px;
        }
      }
      .price {
        font-size: 30px;
        margin: 0px 0px 30px;
      }
      select {
        width: 75px;
        height: 50px;
        font-size: 20px;
        padding: 10px;
        margin: 15px 10px 15px 0px;
        border-radius: 5px;
      }
    }
  }
}

.editBtn {
  position: absolute;
  top: 110px;
  right: 10px;
  margin-bottom: 2200px;
}
